<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DNS Lookup</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>
<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/pinghost">Ping Host</a>
    <a href="/tcpdump">TCP Dump</a>
    <a href="/traceroute">Trace Route</a>
    <a href="/dnslookup">DNS Look-Up</a>
    <a href="/hostlist">Host List</a>
    <a href="/scannetwork">Network Scan</a>
  </div>

<div class="fixed-header">
  <div id="main">
    <span style="font-size:30px;cursor:pointer; color: #525252;" onclick="openNav()">&#9776; Menu</span>
  <h2>DNS Look-Up</h2>
  <p>Input a host name to return the DNS. I.E: www.google.com<br> 
    Click "Start DNS Lookup" to initiate.</p>

  <form>
    <label style="font-weight:bold;" id="fname">Host Name</label><br>
    <input type="text" id="hostname" name="hostname" size="30" style="text-align: left;"><br>
    <input type="submit" style="padding: 5px; font-weight: bold; margin-top: 10px;" value="Start DNS Lookup">
    <output name="x" for="a b"></output>
  </form>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
   
</body>
</html> 