<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DNS Lookup</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div class="sidenav">
    <a href="/index" style="margin-top: 10;">Home</a>
    <a href="/pinghost">Ping Host</a>
    <a href="/tcpdump">TCP Dump</a>
    <a href="/traceroute">Trace Route</a>
    <a href="/dnslookup">DNS Look-Up</a>
    <a href="/hostlist">Host List</a>
    <a href="/scannetwork">Network Scan</a>
  </div>

  <div class="fixed-header">
    <div class="main">
      <h2>DNS Look-Up</h2>
      <p>Input a host name to return the DNS. I.E: www.google.com<br> 
         Click "Start DNS Lookup" to initiate.</p>
    
        <form action="{{url_for('dnslookup')}}" method="POST">
          <input type="text" name="dns" class="form-control">         
          <input type="submit" class="btn btn-primary" value="Start DNS Lookup">
        </form>
          
      <br>
      <br>
  
      <pre>{{output}}</pre>
    </div>  
  </div> 

</body>
</html> 