<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Host List</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div class="sidenav">
    <a href="/" style="margin-top: 10;">Home</a>
    <a href="/pinghost">Ping Host</a>
    <a href="/tcpdump">TCP Dump</a>
    <a href="/traceroute">Trace Route</a>
    <a href="/dnslookup">DNS Look-Up</a>
    <a href="/hostlist">Host List</a>
    <a href="/scannetwork">Network Scan</a>
  </div>

  <div class="fixed-header">
    <div class="main">
      <h2>Host List</h2>
      <p>The host list or ARP Table will return all devices that are connected to your network.<br> 
        Click "Search Host" to initiate.
      <form action="{{url_for('hostlist')}}">
        <input type="submit" class="btn btn-primary" value="Get Host List">
      </form>  

        <br>
        <br>

        <p>{{output}}</p>
      </div>
    </div>
</body>

</html> 