<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Networking</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
</head>

<body>
<div class="sidenav">
  <a href="/" style="margin-top: 10;">Home</a>
  <a href="/pinghost">Ping Host</a>
  <a href="/tcpdump">TCP Dump</a>
  <a href="/traceroute">Trace Route</a>
  <a href="/dnslookup">DNS Look-Up</a>
  <a href="/hostlist">Host List</a>
  <a href="/scannetwork">Network Scan</a>
</div>

<div class="fixed-header">
  <div class="main">
    <h2>Network Troubleshooting</h2>
    <p>This web page is designed for the purpose of running basic networking diagnostics and sytem checks, such as:<br>
    <br>
    • Ping a host by IP address<br>
    • TCPDump – watching for traffic on a specific network<br>
    • Trace Route<br>
    • DNS Look-Up<br>
    • Host List (ARP Table)<br>
    • Scan Network – scan by VLAN, return listing of host profiles<br>
    <br>
  Click on the menu button at the top of the page and select a tool to get started.</p>
  </div>
</div>
     
</body>
</html> 
