<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Networking</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div class="sidenav">

  </div>

  <div class="fixed-header">
    <div class="main">


            <h2>Login</h2>
            
            <form name = "Login">
            
              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                
                <br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>    
                <button type="submit">Login</button>
                <label>
                    <br>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
            
              <div class="container">
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div>
            </form>
            
            <script language="javascrip">
              function check(form)
              if(form.uname.value== "dhopps" && form.psw.value == "kennesaw")
              {
                window.open(index.html)
              }
              else
              {
                alert("The Username and Password you")
              }


            </script>
            </body>
            </html>