<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ping Host</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
</head>

<body>
  <div class="sidenav">
    <a href="/index" style="margin-top: 10;">Home</a>
    <a href="/pinghost">Ping Host</a>
    <a href="/tcpdump">TCP Dump</a>
    <a href="/traceroute">Trace Route</a>
    <a href="/dnslookup">DNS Look-Up</a>
    <a href="/hostlist">Host List</a>
    <a href="/scannetwork">Network Scan</a>
  </div>

  <div class="fixed-header">
    <div class="main">
      <h2>Ping Host</h2>
      <p>Input the IP Address that you wish to ping and click "Start Ping" to initiate the host ping.<br> 
        The ping will run automatically for a count of 10.</p>
      
      <form action="{{url_for('pinghost')}}" method="POST">
        <div class="form-group">
          <input type="text" name="ping" class="form-control">         
        </div>
        <input type="submit" class="btn btn-primary" value="Start Ping">
      
      </form>  

        <br>
        <br>

        <pre>{{output}}</pre>


    </div>
  </div>

</body>
</html> 