<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ping Host</title>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/pinghost">Ping Host</a>
    <a href="/tcpdump">TCP Dump</a>
    <a href="/traceroute">Trace Route</a>
    <a href="/dnslookup">DNS Look-Up</a>
    <a href="/hostlist">Host List</a>
    <a href="/scannetwork">Network Scan</a>
  </div>

<div class="fixed-header">
  <div id="main">
    <span style="font-size:30px;cursor:pointer; color: #525252;" onclick="openNav()">&#9776; Menu</span>
  <h2>Ping Host</h2>
  <p>Input the IP Address that you wish to ping and click "Start Ping" to initiate the host ping.<br> 
      The ping will run automatically for a count of 10.</p>

  <form>
    <label style="font-weight:bold;" id="fname">IP Address</label><br>
    <input type="text" id="ip1" name="ip1" size="2" style="text-align: center;">.<input type="text" id="ip2" name="ip2" size="2" style="text-align: center;">.<input type="text" id="ip3" name="ip3" size="2" style="text-align: center;">.<input type="text" id="ip4" name="ip4" size="2" style="text-align: center;"><br>
    <input type="submit" style="padding: 5px; font-weight: bold; margin-top: 10px;" value="Start Ping">
    <output name="x" for="a b"></output>
  </form>

  </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
   
</body>
</html> 